<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="acc-content">
            <!--user image-->
            <img alt="user avatar" src="data:image/png;base64,<%=image%>" />

            <!--user name-->
            <h3 class="user-name light-text">
                <%=username%>
            </h3>
            <form id="message-form">
                <!--message errors-->
                <div class="error message"></div>
                <textarea name="message" id="message-textarea" cols="30" rows="10" placeholder="Type your message here..." class="background-light light-text"></textarea>
                <!--letters counter-->
                <div class="light-text"><span id="letters-counter">0</span>/200</div>
                <!-- public message checkbox -->
                <div class="public">
                    <input type="checkbox" name="isPublic" id="isPublic" value="true" />
                    <label for="isPublic" class="light-text">public message</label>
                    <button type="submit">send <i class="far fa-paper-plane"></i></button>
                </div>
            </form>
        </div>

        <!--if there are NO PUBLIC messages to the user-->
        <% if(!publicMessages.length) { %>
            <div class="empty-container background-light light-text">
                <h4 class="empty-heading">there is no public messages</h4>
            </div>


            <!--if there are public messages to the user-->
            <%}else{%>
                <!--Public messages-->
                <div class="messages-container background-light light-text">
                    <p class="msg-heading" onclick="showMsgs()">
                        Public Messages &nbsp;<i class="fas fa-angle-down"></i>
                    </p>


                    <div class="inner">
                        <!--loop through the messages array-->
                        <% publicMessages.forEach(messageObj=>{ %>

                            <div class="message-container background-light">
                                <div class="message-content">
                                    <!--message content-->
                                    <p class="message">
                                        <%=messageObj.message%>
                                    </p>
                                    <!--message date-->
                                    <p class="message-date">
                                        <%=messageObj.date%>
                                    </p>
                                </div>
                            </div>
                            <%})%>
                                <%}%>
                    </div>
                </div>
    </div>
    <%- include("./partials/footer.ejs") %>
        <script src="../js/messagesContainer.js"></script>
        <script src="../js/sendAuthRequest.js"></script>
        <script type="text/javascript">
            //select the form
            const msgFormElm = document.getElementById("message-form");

            //add submit event to the form
            msgFormElm.addEventListener("submit", (e) =>
                sendAuthReq(e, `/sendMessage${location.pathname}`, "PATCH")
            );

            //select letters counter element
            const letterCounterElm = document.getElementById("letters-counter");

            //add input event to the textarea
            document
                .getElementById("message-textarea")
                .addEventListener("input", function() {
                    //assign the message length to the letters counter value
                    letterCounterElm.textContent = this.value.length;

                    /*if the message length is bigger than 200 change the color to red
                                        , else reset the color*/
                    letterCounterElm.style.color =
                        this.value.length > 200 ? "red" : "unset";
                });
        </script>

        </html>