<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="acc-content">
            <!--user image-->
            <img alt="user avatar" src="data:image/png;base64,<%=image%>" />

            <!--user name-->
            <h3 class="user-name light-text">
                <%=username%>
            </h3>
            <form id="message-form">
                <!--server message-->
                <div class="server-msg"></div>
                <!--message errors-->
                <div class="error message"></div>
                <textarea name="message" id="message-textarea" cols="30" rows="10" placeholder="Type your message here..." class="background-light light-text"></textarea>
                <!--letters counter-->
                <div class="light-text"><span id="letters-counter">0</span>/200</div>
                <!-- public message checkbox -->
                <div class="public">
                    <input type="checkbox" name="isPublic" id="isPublic" value="true" />
                    <label for="isPublic" class="light-text">public message</label>
                    <button type="submit">send <i class="far fa-paper-plane"></i></button>
                </div>
            </form>
        </div>

        <!--if there are NO PUBLIC messages to the user-->
        <% if(!publicMessages.length) { %>
            <div id="container" class="empty-container background-light light-text">
                <h4 class="empty-heading">there is no public messages</h4>
            </div>


            <!--if there are public messages to the user-->
            <%}else{%>
                <!--Public messages-->
                <div id="container" class="messages-container full-container background-light light-text">
                    <p class="msg-heading">
                        Public Messages
                    </p>


                    <div class="inner" id="messages-container">
                        <!--loop through the messages array-->
                        <% publicMessages.forEach(messageObj=>{ %>

                            <div class="message-container background-light">
                                <div class="message-content">
                                    <!--message content-->
                                    <p class="message">
                                        <%=messageObj.message%>
                                    </p>
                                    <!--message date-->
                                    <p class="message-date">
                                        <%=messageObj.date%>
                                    </p>
                                </div>
                            </div>
                            <%})%>
                                <%}%>
                    </div>
                </div>
    </div>
    <%- include("./partials/footer.ejs") %>
        <script src="../js/messagesContainer.js"></script>
        <script src="../js/sendFormRequest.js"></script>
        <script type="text/javascript">
            //select letters counter element
            const letterCounterElm = document.getElementById("letters-counter");

            //add input event to the textarea
            document
                .getElementById("message-textarea")
                .addEventListener("input", function() {
                    //assign the message length to the letters counter value
                    letterCounterElm.textContent = this.value.length;

                    /*if the message length is bigger than 200 change the color to red
                                        , else reset the color*/
                    letterCounterElm.style.color =
                        this.value.length > 200 ? "red" : "unset";
                });
        </script>

        <!--send message to the server and get the server response-->
        <script>
            //select the form
            const msgFormElm = document.getElementById("message-form");

            //add submit event to the form
            msgFormElm.addEventListener("submit", async(e) => {
                //show success update message
                document.querySelector('.server-msg').innerHTML = ''
                const data = await sendFormReq(e, `/sendMessage${location.pathname}`, "PATCH")
                if (data) {
                    //reset error message
                    document.querySelector('.error').innerHTML = ''

                    //reset textarea 
                    document.getElementById("message-textarea").value = ''
                    document.getElementById("letters-counter").textContent = 0

                    //reset public message radio button
                    document.getElementById("isPublic").checked = false

                    //show success send message
                    document.querySelector('.server-msg').innerHTML = `<p class= 'success-msg'><i class="fas fa-check-circle"></i> ${data.message}</p>`

                    //if there are public messages
                    if (data.messages.length) {

                        const messages = data.messages.reverse() //reverse the messages order from the newest to the oldest

                        const msgsContainerElm = document.getElementById("container")

                        if (msgsContainerElm.className.includes('empty-container')) {
                            msgsContainerElm.classList.remove("empty-container")
                            msgsContainerElm.className += " messages-container full-container"

                        }

                        //write messages container header
                        msgsContainerElm.innerHTML = `<p class = "msg-heading">
                                Public Messages </p>
                                
                                <div class="inner" id="messages-container"></div>
                                `

                        //show each message
                        messages.forEach((msgObj, index) => {
                            msgsContainerElm.querySelector('.inner').innerHTML += ` 
                            <div class="message-container background-light">
                                <div class="message-content">
                                    <!--message content-->
                                    <p class="message"></p>
                                    <!--message date-->
                                    <p class="message-date">
                                        ${msgObj.date}
                                    </p>
                                </div>
                            </div>`

                            //show message content
                            msgsContainerElm.querySelectorAll('.message')[index].innerText = msgObj.message

                        })

                        //check the theme mode
                        darkMode()

                    }
                }
            });
        </script>

        </html>