<%- include("./partials/header.ejs") %>


    <div class="container">
        <div class="acc-content">
            <img src="data:image/png;base64,<%=image%>" alt="user avatar" />
            <h1 class="light-text user-name">
                <%= username %>
            </h1>

            <a class="edit" href="/settings/profile">Edit profile</a>

            <button class="copy" id="copy-url-btn">copy link</button>

        </div>

        <!--if there are NO Messages to the user-->
        <% if(!messages.length) { %>

            <div class="empty-container background-light light-text">
                <h4 class="empty-heading">Your Messages</h4>
                <p>No messages yet, share your link with friends</p>
            </div>

            <!--if there are messages to the user-->
            <%}else{%>
                <!--messages-->
                <div class="messages-container background-light light-text">
                    <p class="msg-heading" onclick="showMsgs()">Your Messages &nbsp;<i class="fas fa-angle-down"></i></p>

                    <div class="inner" id="messages-container">

                        <!--loop through the messages array-->
                        <% messages.forEach(messageObj=>{ %>
                            <!--message container-->
                            <div class="message-container background-light">
                                <!--message content-->
                                <!--check if the message is public-->
                                <div class="msg-top">
                                    <% if(messageObj.isPublic){ %>
                                        <!--add globe icon before the public message-->
                                        <i class="fas fa-globe-americas public-icon"><p>public message</p></i>
                                        <%}%>
                                            <button onclick="sendDelMsReq(event)" class="del-msg light-text">
                                    <i class="fas fa-times "></i>                            </button>
                                </div>
                                <div class="message">
                                    <%=messageObj.message%>
                                        <!--message date-->
                                        <div class="message-date">
                                            <%=messageObj.date%>
                                        </div>
                                </div>
                            </div>
                            <%})%>
                                <%}%>
                    </div>
                </div>
    </div>
    <%- include("./partials/footer.ejs") %>
        <script src="../js/messagesContainer.js"></script>

        <script type="text/javascript">
            //select copy button url
            let urlBtn = document.getElementById("copy-url-btn")

            //create input tag to copy the user link from it
            const pseudoInput = document.createElement("input")
            pseudoInput.value = window.location.href //assign the user url to the input value

            urlBtn.onclick = () => {
                //append the pseudo input tag to the body
                document.getElementsByTagName("body")[0].appendChild(pseudoInput)
                pseudoInput.select() //select the input value (user url)
                document.execCommand("copy") //copy the input value (user url)

                //remove the pseudo input tag from the body
                document.getElementsByTagName("body")[0].removeChild(pseudoInput)
                urlBtn.innerText = "link Copied !"

            }
        </script>
        <script src="../js/sendDelRequest.js"></script>

        </html>