<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="settings background-light">
            <div class="navigation">
                <ul class="settings-nav">
                    <li class="active"><a href="/settings/profile" class="light-text">Edit profile</a></li>
                    <li><a href="/settings/changePassword" class="light-text">change password</a></li>
                    <li><a href="/settings/account" class="light-text">account settings</a></li>
                </ul>
            </div>
            <div class="settings-content">
                <div class="pic">
                    <!--user image-->
                    <img src="data:image/png;base64,<%=userImage%>" alt="user avatar" />
                    <!--username-->
                    <div class="pic-text">
                        <p class="light-text">
                            <%= username %>
                        </p>

                        <!--change user image-->
                        <label for="image">change profile photo</label>
                        <input class="pic-upload" type="file" oninput="sendChangeImgReq(event)" name="image" id="image" accept="image/png, image/jpeg">
                    </div>
                </div>
                <!--change username-->
                <form onsubmit="sendAuthReq(event, '/settings/profile/username','PATCH')">
                    <!--username error message-->
                    <div class="error username"></div>
                    <div class="input">
                    <label class="light-text" for="username">Username</label>
                    <input class="light-text" type="text" name="username" id="username" placeholder="Enter your new username...." value="<%=username%>">
                </div>
                    <button class="submit" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>

        <script src="../js/sendPatchRequest.js"></script>
        <script src="../js/sendAuthRequest.js"></script>

        </html>